.img{
    height: 140px;
    width: 130px;
}

.section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.list{
    text-align: center;
    list-style-type: none;
}

.selected{
    background-color: violet;
}

.favorites{
    border-right: solid 1px darkgrey;
    padding: 0 1em;
}