<main class="main">

    <section class="input-section">
    <h1 class="title">Busca tu cóctel</h1>

    <form name="Buscador cócteles">
        <input type="text" placeholder="Buscar" class="js_input input"/>
        <input type="button" value="Buscar" class="js_btn btn">
        <input type="button" value="Reset" class="js_reset btn">
    </form>
    </section>

    <section class="finder-section">

    <article class="list">
    <ul class="list js_list-cocktails">


    </ul>
    </article>

    <article class="favorites">

        <h2 class="favorites__title">Mis cócteles favoritos</h2>

        <ul class="favorites__list js_list-cocktails_favorites"></ul>

    </article>
</section>
</main>