.main{
    background: linear-gradient(to left top, rgb(96, 165, 250), rgb(52, 211, 153))
}

.input-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem;
    gap: 2rem;
}

.title{
    color: darkred;
    font-size: 4rem;
    font-weight: 500;
    text-shadow: 3px 4px 5px #ff7000;
}

.input{
    background-color: bisque;
    border: none;
    border-radius: 1rem;
    padding: 0.9rem;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 0 16px 0 #ff7000, 0 6px 20px 0 #ff7000;
}
.input::placeholder{
    color: darkred;
}

.btn{
    border: darkred;
    color: darkred ;
    background-color: bisque ;
    box-shadow: 0 0 16px 0 #ff7000, 0 6px 20px 0 #ff7000;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
    padding: 0.8rem ;
    font-weight: 600;
    font-family: 'Playfair Display', serif;;
}

.finder-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.favorites{
    display: flex;
    flex-direction: column;
    align-items: center;

&__title{
    color: darkred;
    text-shadow: 3px 1px 5px #ff7000;
    font-size: 3.5rem;
    }

&__list{
    margin-top: 30px;
}
}
.img{
    width: 130px;
    border-radius: 100%;
    cursor: pointer;
}


.name{
font-size: 25px;
text-align: center;
padding-top: 30px;
padding-bottom: 15px;
color: darkred;
font-weight: bold;
font-family: 'Playfair Display', serif;
}

.close {
    display: flex;
    flex-direction: column-reverse;
    font-size: 25px;
    // position: absolute;
    color: bisque;
    border-radius: 20px;
    // position: relative;
}

.fa-regular{
    color: darkred;
    font-size: 30px;
    text-align: initial;
    position: absolute;
}