@import 'core/reset';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

html{
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;

}


.selected{
    color: darkred;
    font-weight: bold;
    // box-shadow: 0 0 35px 0 darkred, 0 6px 35px 0 darkred;
    text-shadow: 3px 3px 5px #ff7000;
    text-decoration:underline;
}
