@import 'core/reset';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

html{
    font-size: 62.5%;
}


.selected{
    color: darkred;
    font-weight: bold;
    box-shadow: 0 0 35px 0 darkred, 0 6px 35px 0 darkred;
}

