@import 'core/reset';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

.img{
    height: 140px;
    width: 130px;
}

.section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.list{
    text-align: center;
    list-style-type: none;
}

.selected{
    background-color: violet;
}

.favorites{
    border-right: solid 1px darkgrey;
    padding: 0 1em;
}
.close{
    position: relative;
}
.close .close_btn{
    width: 26px;
    top: 36px;
    right: 88px;
    position: absolute;
    cursor: pointer;
}